<!doctype html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Daily Standup</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/concept-master/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/lib/concept-master/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/concept-master/libs/css/style.css">
    <link rel="stylesheet" href="~/lib/concept-master/vendor/fonts/fontawesome/css/fontawesome-all.css">

    <!-- libraries -->
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />

    <!--page css-->
    @RenderSection("Css", required: false)
</head>

<body>
    <div class="dashboard-main-wrapper">
       @Html.Partial("_DashboardHeaderPartial")
       @Html.Partial("_DashboardSidebarPartial")
        <div class="dashboard-wrapper">
            <div class="influence-profile">
                <div class="container-fluid dashboard-content ">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h3 class="mb-2">@ViewData["Title"]</h3>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- content -->
                   @RenderBody()
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end content -->
            <!-- ============================================================== -->
            @*@Html.Partial("_DashboardFooterPartial")*@
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1  -->
    <script src="~/lib/concept-master/vendor/jquery/jquery-3.3.1.min.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <!-- bootstap bundle js -->
    <script src="~/lib/concept-master/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="~/lib/concept-master/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="~/lib/unobtrusive-ajax/unobtrusive-ajax.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <!-- main js -->
    <script src="~/lib/concept-master/libs/js/main-js.js"></script>
    <script src="~/js/GlobalFunction.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
